<style>
body{
	overflow:hidden;
	padding:0;
	margin:0;

}

.menu{

	width:250px;
	
	background-color:#353535;
	height:100%;
	position:fixed;
	right:0;
	top:0;
	//border-color:black;
	border-left:5px solid;
	color:white;

}

.menu_header{
	height:60px;
	width:100%;
	padding:5px;
	border-bottom:2px solid grey;
	
}

.menu_user{
	
	float:left;
	width:70%;
	height:100%;

}

.menu_user p {
	float:left;
	height:100%;
	padding-top:15px;
	padding-bottom:10px;

}

.menu_logo{
	float:left;
	height:100%;
	width:30%;
	padding-left:15px;
	padding-top:10px;

}

.user_photo{
	float:left;
	 background-image: url("/app/views/pages/vmvini.jpg");
	  background-repeat: no-repeat;
	  background-position: center center;
	 width:40px;
	 height:40px;
	 
	  border-radius: 50%;
	  background-size: cover;
	  margin-top:5px;
	  margin-left:10px;
}


.menu_search{

	margin-top:0px;
	height:50px;
	width:100%;
	text-align:center;
	padding:10px;

}

.search_box{
	height:100%;
	border-radius:15px;
	border:1px solid grey;
	color:grey;
}

.search_icon{
	float:left;
	height:100%;
	width:20%;
	margin-top:3px;
	padding:0;
}
.search_form{
	float:left;
	height:100%;
	width:80%;
	text-align:left;
	overflow:hidden;
	padding:5px;
}

.search_form:read-write:focus {
     outline: none;
}



.current_map{
	height:50px;
	width:100%;
	padding-top:10px;
	padding-left:10px;
	background-color:#F23A3A;


}

.map_box_options{
	
	border:1px solid;
	width:100%;
}
/*
.separator{
	float:left;
	height:40%;
	width:1%;
	background-color:#F23A3A;
}
*/
.options{
	display:inline-block;
	//float:left;
	//height:100%;
	width:100%;

	list-style:none;
	border-left:2px solid #F23A3A ;
	padding:0;
	margin:0;

}

.option{
	border-bottom:1px solid grey;
	width:100%;
}

.option p{

	margin-top:3px;
	margin-left:5px;
	padding:4px;

}


.green_menu{
	background-color:#21A872;
}
.green_option_border{
	border-left:2px solid #21A872 ;
}

.giant_list{
	max-height:300px;
	overflow:hidden;
	overflow-y: auto
}

.sair{
	width:100%;
	text-align:left;
	padding-left:10px;
	margin-top:20px;
	padding-top:4px;

}

</style>


<div id="graph" style="width:100%;height:100%; border:1px solid;">
	<svg height="1200px" width="1200px">
	</svg>

</div>

<div class="menu">

  	<div class="menu_header">
  		<div class="menu_logo">
  		<span class="logo">SS</span>
  		</div>
  		<div class="menu_user">
  			<p class="user_name">Marcus Vinícius</p>
  			<div class="user_photo">
  			</div>
  		</div>
  	</div>


  	<div class="menu_search">
  			<div class="search_box">
	  			<div class="search_icon">
	  				<i class="fa fa-search"></i>
	  			</div>
	  			
	  			<div class="search_form" contenteditable="true">

	  			</div>
  			</div>

  	</div>


  	<div class="current_map">
  		<i class="fa fa-angle-double-right"></i> <span class="map_name">Sistemas Distribuidos</span>
  	</div>

  
  	<ul class="options">
  		
  		<li class="option">
  			<a class="links" href="/map/{{mindMapCtrl.mapData.mapId}}"><span class="option_name"><p>Modo Área Livre</p></span></a>
  		</li>

  		<li class="option">
  			<a class="links" href="#"><span class="option_name"><p>Permissões</p></span></a>
  		</li>

  	</ul>
  		



  	<div class="current_map green_menu">
  		<i class="fa fa-angle-double-right"></i> <span class="map_name">Meus Mapas</span>
  	</div>

 
  		<ul class="options green_option_border giant_list ">
  		
  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>Planejamento TCC</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>Programação com Objetos Distribuidos</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>AngularJS</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>Javascript</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>NodeJS</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>EaselJS</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>Neo4J</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>D3JS</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>Froala</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>ExpressJS</p></span></a>
  			</li>

  			<li class="option">
  				<a class="links" href="#"><span class="option_name"><p>Bootstrap</p></span></a>
  			</li>

  		</ul>
  		

  		<div class="sair">
  			<a href="#" class="links"><span class="option_name">Sair</span></a>
  		</div>

  	</div> <!-- menu -->

  	<footer class="freearea_footer">
    
       <p style="margin-left:10px;"><span class="syntheticstudy">Synthetic <span class="study">Study</span></span></p>

</footer>