<style>
html, body{
	background-color:#EFF4F3; /* cor clarinha */
}

.header{
	//background-image: url("/site_img/chalkboard-backgrounds/chalkboard-backgrounds/chalkboard-green.jpg");
	//background-repeat: no-repeat;
	//background-position: center center;
	background-color:#21A872;
	font-family: 'Giz', sans-serif;
	color:white;


	background-image: url("/site_img/clean-gray-paper.png");


}


</style>

<div class="container">
  <div class="jumbotron header">
    <h1>Synthetic Study</h1> 
    <p>Estude criando mapas mentais de maneira simples, intuitiva e divertida.</p> 
  </div>
  
</div>