<style>
html, body{
	background-color:#EFF4F3; /* cor clarinha */
}

.container .jumbotron {
    border-radius: 0px;
}

.header{
	//background-image: url("/site_img/chalkboard-backgrounds/chalkboard-backgrounds/chalkboard-green.jpg");
	//background-repeat: no-repeat;
	//background-position: center center;
	background-color:#21A872;
	font-family: 'Giz', sans-serif;
	color:white;
	padding-left:50px;
	border-bottom-left-radius: 0;
	background-image: url("/site_img/clean-gray-paper.png");
	margin:0;

}

.account_session{
		background-color:#353535;
		margin:0;
		padding:40px;
		color:white;
		font-family: 'OpenSans-ExtraBold', sans-serif;
}	

.container-form{
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.33);
  padding: 0 !important;
  display: table;
}

.container-form-header{
  border-bottom: 1px solid rgb(70,70,70);
}

.container-form-header p{
  padding: 20px 0 !important;
  text-align: center;
  margin: 0;
}

.form-horizontal{
  margin: 50px; 
}

.form-group input{
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.fixTransform{
  -webkit-transform:translateZ(0);
   transform:translateZ(0);
}

.iconImg{
	border-radius:50%;
	height:200px;
	width:200px;
	cursor: pointer;
  box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.33);
	margin:40px auto;
  overflow: hidden;
}

span{
  color: #3CB371;
}

.image{
  background-image: url('/site_img/user.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.image:hover{
  transition: 0.2s;
  transform: scale(1.1);
}

.card{
  overflow: hidden;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.33);
  /*height: 300px;*/
  width: 250px;
  -webkit-transform:translateZ(0);
   transform:translateZ(0);
   margin: auto;
}

.card-content{
  height: 250px;
  overflow: hidden;
}

.card-header{
  border-bottom: 1px solid rgb(70,70,70);
  text-align: center;
}
.card-header p{
  margin-top: 10px;
}

.left{
  float: left;
}

.right{
  float: right;
}

.left_user_profile{
	text-align: center;
}

.end_session{
	cursor: pointer;
	margin-top:10px;
  transition: 0.2s;
}

.end_session:hover{
  transition: 0.2s;
  color: #3CB371;
}

.search_maps{
	margin:0;
	padding:40px;
	background-color:#517CE9;
	color:black;
	background-image: url("/site_img/clean-gray-paper.png");
	max-height: 450px;
	overflow: hidden;
  /*box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.56);*/
  /*box-shadow: -1px 43px 5px 0px rgba(0,0,0,1);*/
}

.title_search{
	font-family: 'Giz', sans-serif;
	color:white;
}


.search_results{
	//background-color:#517CE9;
	background-color:white;
	padding:10px;
	list-style: none;
	max-height: 250px;
	overflow: hidden;
	border-bottom-right-radius:3px;
	border-bottom-left-radius: 3px;
	overflow-y: auto;
}

.search_results li{
	
}

.result_name{
	font-family: 'OpenSans-ExtraBold', sans-serif;
	color:grey;

}

.result_creator{
	font-family: 'OpenSans-Regular', sans-serif;
}

.result_creator span{
	font-family: 'Quicksand', sans-serif;
}

.result_desc{
	font-family: 'OpenSans-Regular', sans-serif;
}


.my_maps{
	background-color:#21A872;
	margin:0;
	background-image: url("/site_img/clean-gray-paper.png");
	max-height:450px;
	padding:40px;

}

.new_map{
		background-color:#353535;
		margin:0;
		padding:40px;
		color:white;
		font-family: 'OpenSans-ExtraBold', sans-serif;
}

@media screen and (max-width: 1000px){
  .container-form{
    margin-top: 50px;
    width: 100%;
  }
  .left_user_profile{
    width: 100%;
    text-align: center;
  }
  .card{
    margin: auto;
  }
}

</style>

  <div class="jumbotron header">
    <h1>Synthetic Study</h1> 
    <p>Estude criando mapas mentais de maneira simples, intuitiva e divertida.</p> 
  </div>

  <div class="row account_session">

	  <div class="col-md-6 left_user_profile left">
      <div class="card">
        <div class="card-header">
  	  	  <p>Seja bem vindo, <span>{{mapc.loggedUser.name}}</span> !</p>
        </div>
        <div class="card-content fixTransform">
          <div class="image" style="background-image: url('/img/IMG_20151202_165157.jpg')"></div>
        </div>
          <!-- url('{{mapc.loggedUser.image}}');-->
      </div>
  		<p ng-click="mapc.doLogout()" class="end_session">Sair</p>
	  </div>

	  <div class="col-md-6 container-form right">
      <div class="container-form-header">
        <p>Você pode alterar sua conta!</p>
      </div>
	  	<form ng-controller="MapController as reg" name="reg.regForm" ng-submit="reg.doUpdate()" class="form-horizontal" novalidate>
  			
  			<div class="form-group">
  				<!-- <label for="inputName" class="col-sm-2 control-label">Nome</label> -->
  					<div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                <input ng-required="true" name="regNome"  ng-model="reg.loggedUser.name" type="text" class="form-control" id="inputName" placeholder="Nome">
              <span ng-show="reg.regForm.regNome.$error.required && reg.hasSubmited">Digite seu nome!</span>
              </div>	
  					</div>
  			</div>

  			<div class="form-group">
  				<!-- <label for="inputEmail3" class="col-sm-2 control-label">Email</label> -->
  				<div class="col-sm-12">
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input ng-required="true" name="regEmail" ng-model="reg.loggedUser.email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
            <span ng-show="reg.regForm.regEmail.$error.required && reg.hasSubmited">Digite seu email!</span>
            </div>
  					
  				</div>
  			</div>

  			<div class="form-group">
  				<!-- <label for="regSenha1" class="col-sm-2 control-label">Senha</label> -->
  				<div class="col-sm-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
              <input ng-required="true" type="password" name="regSenha1" ng-model="reg.loggedUser.senha1"  class="form-control" id="regSenha1" placeholder="Senha" >
              <span ng-show="reg.regForm.regSenha1.$error.required && reg.hasSubmited">Digite sua senha!</span>
            </div>
  					
  				</div>
  			</div>

  			<div class="form-group">
  				<!-- <label for="regSenha2" class="col-sm-2 control-label">Senha</label> -->
  				<div class="col-sm-12">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
              <input ng-disabled="reg.regForm.regSenha1.$error.required"  ng-required="true" name="regSenha2" ng-model="reg.loggedUser.senha2" type="password" class="form-control" id="regSenha2" placeholder="Digite novamente a senha" pw-check="reg.loggedUser.senha1" >
              <span ng-show="reg.regForm.regSenha2.$error.required && reg.hasSubmited">Redigite sua senha!</span>
            </div>
  					
  				</div>
  			</div>

  			
  			<div id="alert-error" ng-show="reg.regForm.regSenha2.$error.pwmatch" style="margin: 5px 0 5px 0;" class="form-group">
  				<label  class="col-sm-2 control-label"></label>	
  				<div class="col-sm-10">
  				<span class="alert alert-danger col-xs-12" >As senhas não correspondem. Digite-as novamente.</span>
  				</div>
  			</div>

  			

  			<span ng-show="reg.reg_error">Cadastro não pode ser realizado!</span>
  			<span ng-show="reg.reg_complete">Cadastro realizado!</span>

  			<div class="form-group">
  				<div class="col-sm-10">
  					<button ng-disabled="reg.regForm.$invalid" type="submit" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Atualizar</button>
  				</div>
  			</div>
  		</form>
	  </div>

  </div>



  <div class="row search_maps">
  	<h1 class="title_search">Encontre mapas mentais</h1>
  	<input type="text" ng-model="mapc.expression" ng-model-options="{debounce: 1000}" class="form-control" style="border-bottom-left-radius:0; border-bottom-right-radius: 0;" placeholder="Digite algum termo que identifique um mapa mental">
  	
  	<ul class="search_results">
  	<li ng-repeat="map in mapc.searchResults | filter:mapc.expression" ng-click="mapc.goToMap(map._id)" ><p class="result_name">{{map.name}}</p> <p class="result_creator"><span>Criado por:</span>{{map.creator}}</p>  <p class="result_desc">{{map.description}}</p> <hr></li>


  	</ul>

  </div>

  <div class="row new_map">

  	 <div class="col-md-6 left_user_profile">
  	 	
  	 	<div class="iconImg fixTransform">
        <div class="image" style="background-image:url('/site_img/graph.png'); background-color: white;"></div>
  		</div>
	</div>

  	 <div class="col-md-6">
  	 <h3>Crie aqui um mapa mental</h3>
  	 <form ng-controller="MapController as reg" name="reg.newMapForm" ng-submit="reg.createMap()" class="form-horizontal" novalidate>
  			
  			<div class="form-group">
  				<label for="inputMapName" class="col-sm-2 control-label">Nome</label>
  					<div class="col-sm-10">
  						<input ng-required="true" name="mapName"  ng-model="reg.mapData.name" type="text" class="form-control" id="inputMapName" placeholder="Nome do mapa mental">
  						<span ng-show="reg.newMapForm.mapName.$error.required && reg.hasSubmited">Digite o nome do mapa mental.</span>
  					</div>
  			</div>

  			<div class="form-group">
  				<label for="mapDescription" class="col-sm-2 control-label">Descrição</label>
  				<div class="col-sm-10">
  					<textarea id="mapDescription" ng-required="true" name="mapDescription" ng-model="reg.mapData.description" class="form-control" rows="3"></textarea>
  					<span ng-show="reg.newMapForm.mapDescription.$error.required && reg.hasSubmited">A descrição do mapa é obrigatória.</span>
  				</div>
  			</div>
			
			<span ng-show="reg.createdMap">Mapa criado com sucesso</span>
			<!--span ng-show="reg.reg_error">Cadastro não pode ser realizado!</span>
  			<span ng-show="reg.reg_complete">Cadastro realizado!</span-->

  			<div class="form-group">
  				<div class="col-sm-offset-2 col-sm-10">
  					<button ng-disabled="reg.newMapForm.$invalid" type="submit" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i> Criar</button>
  				</div>
  			</div>
  		</form>


  	 </div>

  </div>



  <div class="row my_maps">



  	<h1 class="title_search">Meus Mapas</h1>
  	<input type="text" ng-model="mapc.expression2" ng-model-options="{debounce: 1000}" class="form-control" style="border-bottom-left-radius:0; border-bottom-right-radius: 0;" placeholder="Digite algum termo que identifique um mapa mental">
  	
  	<ul class="search_results">
  	<li ng-repeat="map in mapc.maps | filter:mapc.expression2" >
  		<span style="cursor:pointer;" ng-click="mapc.goToMap(map._id)"> 
  			<p class="result_name">{{map.name}}</p> 
  			<p class="result_desc">{{map.description}}</p> 
  		</span>
  			<label class="radio-inline"><input type="radio" value="public" ng-checked="map.visibility == 'public'" ng-model="map.visibility" ng-change="mapc.changed(map)" name="{{map.name}}">Público</label>
			<label class="radio-inline"><input type="radio" value="private" ng-checked="map.visibility == 'private'" ng-model="map.visibility" ng-change="mapc.changed(map)" name="{{map.name}}">Privado</label>

			<span style="margin-left:5px; cursor:pointer;" class="removeMap" ng-click="mapc.showDialog(map)">
				<i class="fa fa-trash" aria-hidden="true"></i>
				Remover
			</span>
			



			 <hr>
		</li>


  	</ul>


  </div>


  





<!--div>
	<h1>Crie um novo mapa</h1>
	<form ng-submit="mapc.createMap()">
		Nome: <input type="text" ng-model="mapc.mapData.name" ><br>
		Criador: <input type="text" ng-model="mapc.mapData.creator"><br>
		Descricao: <input type="text" ng-model="mapc.mapData.description"><br>

		<input type="submit" value="enviar"/>
	</form>
</div>

<br><br>
<div ng-repeat="each in mapc.maps">
	<hr>
	<a href="/map/{{each._id}}">
		<p>Nome: {{each.name}}</p>
		<p>Criador: {{each.creator}}</p>
		<p>Descricao: {{each.description}}</p>
	</a>
</div>

<footer class="simple_footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
	</footer-->




